[Unit]
Description=Start civil.indy.io
After=postgresql.service

[Service]
Type=simple
User=indy
Group=indy
ExecStart=/bin/bash /home/indy/work/civil/systemd/isg-civil.sh

[Install]
WantedBy=multi-user.target
