[Unit]
Description=Collect stats for civil.indy.io

[Service]
User=indy
Type=oneshot
ExecStart=/bin/bash /home/indy/work/civil/systemd/isg-civil-stat-collector.sh
