@charset "UTF-8";

@font-face { font-family: "Nothing You Could Do";
             src: url("fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "Bitter";
             src: url("fonts/Bitter/Bitter-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

.civsel-form {
  width: 100%;
}
.civsel-main-box {
  /* background: #ffffff; */
}
.civsel-candidate {
  background: #ecd2a2;
  padding: 0.4em;
  margin: 0.2em;
  width: max-content;
  cursor: cell;
}

.civsel-selected-value {
  background: #ecd2a2;
  padding: 0.4em;
  margin: 0.2em;
  width: max-content;
}

.civsel-delete-selected {
  cursor: pointer;
}

.pointform-block label { }
.pointform-block input { width: 2em; margin-top: 0.3em; }
.pointform-space-top { margin-top: 1em; }
.pointform-space-bottom { margin-bottom: 1em; }

em:before {
  content: "\00201C";           /* opening double quote: &#8220; converted to hex*/
}
em:after {
  content: "\00201D";           /* closing double quote: &#8221; converted to hex*/
}

.svg-container {
  width: 80%;
}

.svg-pseudo-link:hover {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:link.note-inline-link {
  color: var(--hyperlink);
  text-decoration: underline;
}

.sticky-bl {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem
}

.sticky-tl {
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem
}

.console-toggle-icon {
  cursor: pointer;
}

.z-high {
  z-index: 100;
}

.z-low {
  z-index: -1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: left;

  /*
     this is a hack that ends up looking quite nice
     the real reason for this animation is to hide the console-slide-out
     animation that a console-invisible class plays
 */
  animation-duration: 0.5s;
  animation-name: sidebar-show;
}

@keyframes sidebar-show {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.console {
  height: 92vh;
}

.console-visible {
  animation-duration: 0.2s;
  animation-name: console-slide-in;
  margin-left: 0%;
}

.console-invisible {
  animation-duration: 0.2s;
  animation-name: console-slide-out;
  margin-left: -100%;
}

@keyframes console-slide-in {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes console-slide-out {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: -100%;
  }
}

p {
  text-align: justify;
}
.sidenote {
  text-align: left;
}

.marginnote {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--scribble);
  font-size: 1.5em;
  text-align: left;
}
label.margin-toggle {
  color: var(--hyperlink);
}

.shell-block {
  padding: 2em 0 2em 2em;
}

.shell-line {
  padding: 0.2em 0 0.2em 0;
}

.invisible { display: none; }

.underlined {
  text-decoration: underline;
}

#login-menuitem {
  float: right;
  clear:both;
}

p.fakelink {
  cursor: pointer;
  text-decoration: underline;
}

section > form { width: var(--block-width); }

/* civil: so that the p in civil behaves like the section > p in tufte */
.note p {
  width: var(--block-width);
}

.noteref-container {
  padding-top: 0.5em;
  float: left;
  margin-left: -25%;
  width: 25%;
  color: var(--fg1);
  text-align: right;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

@media (max-width: 1200px) {
  .noteref-container {
    float: right;
    text-align: left;
  }
}

@media (max-width: 800px) {
  .noteref-container {
    display: none;
  }
}

.noteref-entry a {
  text-decoration: none;
}
.noteref-entry .noteref-spacer {
  padding-left: 2em;
}

#top-bar-menu {
  padding-bottom: 0.5em;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-color: var(--divider);

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

mark.highlight {
  background: var(--highlight);
}

mark.scribbled-out {
  background: url(/img/scribble-short.png);
  background-repeat: repeat-x;
  background-size: 100% 95%;
  padding: 8px 0;
}


a.top-bar-menuitem {
  margin-left: 1em;
  margin-right: 1em;
  background: inherit;
}

blockquote.quote > textarea {
  width: var(--block-width);
  height: 10em;
}

div.note > textarea {
  width: 100%;
  height: 10em;
}

.note > hr {
  display: block;
  height: 1em;
  width: var(--block-width);
  border: 0;
  border-top: 2px solid var(--divider);
  margin: 1em 0;
  padding: 0;
}

.civil-form {
  font-family: monospace;
  padding-top: 2em;
}

.civil-date-hint {
  color: var(--fg1);
  float:right;
  padding-right: 1em;
}

.civil-date-hint-after {
  clear: both;
}

#is-approx {
  width: 10%;
}

#round-to-year {
  width: 10%;
}

#separator {
  width: 10%;
}

.point-title {
  padding-bottom: 1em;
}

.civil-location input[type=number]{
  width: 5em;
}

input:required {
  box-shadow: none;
}

.deckpoint-block label {}
.deckpoint-block input { width: 2em; margin-top: 0.3em; margin-left: 2em;}

/* .deckpoint-block label { display: inline-block; width: 12em; text-align: right; } */
/* .deckpoint-block input { width: 2em; } */

.deckpoint {
  color: var(--fg1);
}

.deckpoint a {
  /* same as the background colour, this is how to hide the underline effect used in tufte.css */
  background: var(--bg);
}

.ideas-list {
  padding-left: 1.5em;
}

.ideas-list > li {
  padding-right: 0.5em;
  display: inline-block;

}

.ideas-list li:after {
  content: ", ";
}

.ideas-list li:last-child:after {
    content: "";
}

.publications-list {
  padding-left: 1em;
}

.publications-list > li {
  list-style-type: none;
}

.people-list {
  padding-left: 1em;
}

.people-list > li{
  padding-right: 0.5em;
  display: inline-block;
}

.people-list li:after {
  content: ", ";
}

.people-list li:last-child:after {
    content: "";
}

.events-list {
  padding-left: 1em;
}

.events-list > li {
  list-style-type: none;
}

.event-date {
  display: inline-block;
  width: 4em;
  text-align: right;
}
