@charset "UTF-8";

:root {
  --bg: #f5f2f0;
  --fg: rgb(15, 12, 10);

  --fg1: #666; /* linked decks (i.e. tags) */
  --fg-inactive: #999;

  --graph-node-expanded: #6cbd6a;    /* sat:60.2,light:70 clock02 */
  --graph-node-partial: #e29b6b;     /* sat:60.2,light:70 clock11 */
  --graph-node-minimised: #ababab;   /* sat: 0,  light:70 */

  --graph-edge: #ababab;             /* sat: 0,  light:70 */
  --graph-edge-in-contrast: #73b4c8; /* sat:60.2,light:70 clock05 */
  --graph-edge-critical: #e2969d;    /* sat:60.2,light:70 clock10 */

  --bg1: #eeeee8;
  --bg2: #ede7e3;
  --bg3: #fff;

  --divider: #ccc;

  --scribble-neutral: #007bc7;          /* clock06 saturation: 100.0 lightness: 50 */
  --scribble-disagree: #ed0043;          /* clock10 saturation: 100.0 lightness: 50 */
  --hyperlink: #5279a8;         /* clock06 saturation: 60.2 lightness: 50 */
  --highlight: #ebe900;         /* hue: 85 sat:100 light:90*/

  /* saturation: 60.2 lightness: 90 */
  --bg-ideas: #d9e3f3;             /* clock06 */
  --bg-publications: #f4e0b2;      /* clock12 */
  --bg-people: #f4dce7;            /* clock09 */
  --bg-timelines: #98f4d1;         /* clock03 */

  /* saturation: 60.2 lightness: 50 */
  --fg-ideas: #5279a8;             /* clock06 */
  --fg-publications: #867548;      /* clock12 */
  --fg-people: #bc508e;            /* clock09 */
  --fg-timelines: #4b816d;         /* clock03 */

  --body-width: 80%;
  --block-width: 55%;
  --block-width-indented: 50%;

  --coloured-deck-border-radius: 0.3em;

  --search-command-width: 49rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2b2b2b;
    --fg: #a6a8aa;

    --fg1: #999; /* linked decks (i.e. tags) */
    --fg-inactive: var(--fg1);

    --graph-node-expanded: #396838;    /* sat:60.2,light:40 clock02 */
    --graph-node-partial: #7e5439;     /* sat:60.2,light:40 clock11 */
    --graph-node-minimised: #5e5e5e;   /* sat: 0,  light:40 */

    --graph-edge: #5e5e5e;             /* sat: 0,  light:40 */
    --graph-edge-in-contrast: #3d636f; /* sat:60.2,light:40 clock05 */
    --graph-edge-critical: #a23a47;    /* sat:60.2,light:40 clock10 */

    --bg1: #171717;
    --bg2: #12181C;
    --bg3: #000;

    --divider: #444;

    --scribble-neutral: #007bc7;          /* clock06 saturation: 100.0 lightness: 50 */
    --scribble-disagree: #ed0043;          /* clock10 saturation: 100.0 lightness: 50 */
    --hyperlink: #5279a8;         /* clock06 saturation: 60.2 lightness: 50 */
    --highlight: #ebe900;         /* hue: 85 sat:100 light:90*/

    /* saturation: 60.2 lightness: 50 */
    --bg-ideas: #5279a8;             /* clock06 */
    --bg-publications: #867548;      /* clock12 */
    --bg-people: #bc508e;            /* clock09 */
    --bg-timelines: #4b816d;         /* clock03 */

    /* saturation: 60.2 lightness: 90 */
    --fg-ideas: #d9e3f3;             /* clock06 */
    --fg-publications: #f4e0b2;      /* clock12 */
    --fg-people: #f4dce7;            /* clock09 */
    --fg-timelines: #98f4d1;         /* clock03 */
  }
}

/* -------------------------------------------------------------------------------- */

@font-face {
  font-family: 'Bitter';
  src: url('fonts/Bitter/Bitter-VariableFont_wght.ttf') format('truetype');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('fonts/Bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/Crimson/CrimsonPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/Crimson/CrimsonPro-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

@font-face {
  font-family: 'Caveat';
  src: url('fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

.spacer {
  padding: 0.1rem;
}

.inlined-blocked {
  display: inline-block;
}

html {
  font-size: 15px;
}

body {
  overflow-y: scroll;
  width: var(--body-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(100% - var(--body-width));
  font-family: Crimson, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: var(--bg);
  color: var(--fg);
  max-width: 1400px;
  counter-reset: right-margin-counter;
}

h1, h2, h3, h4, h5, h6 {
  transition:font-size 0.15s, background 0.15s;
  -moz-transition:font-size 0.15s, background 0.15s; /* Firefox 4 */
  -webkit-transition:font-size 0.15s, background 0.15s; /* Safari and Chrome */

  font-family: Bitter;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1;
}

h1 {
  margin-top: 4rem;
  font-size: 2.6rem;
}

h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

hr {
  display: block;
  height: 1rem;
  width: var(--block-width);
  border: 0;
  border-top: 0.15rem solid var(--divider);
  margin: 1rem 0;
  padding: 0;
}

hr.big-section {
  height: 0;
  border-top: 0.1rem solid var(--divider);
  margin: 0;
}

p {
  text-align: justify;
}

p.subtitle {
  font-family: Bitter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.0rem;
  font-weight: 300;
  display: block;
  line-height: 1;
}

p.subtitle > a {
  color: var(--fg);
}

p.subheading {
  font-family: Bitter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  line-height: 1;
}

p.subheading > a {
  color: var(--fg);
}

img {
  width: 100%;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

blockquote {
  border-left:0.5rem solid var(--bg2);
  margin-left: 0;
  padding-left: 1rem;
  font-style: italic;           /* is this really needed? */
}

blockquote .right-margin-note,
blockquote .right-margin,
blockquote .right-margin-scribble {
  margin-right: -70%;
  min-width: 59%;
  text-align: left;
}

section > p,
section > footer,
section > table {
  width: var(--block-width);
}

/* to be the same width as paragraph */
section > ol,
section > ul {
  width: calc(var(--block-width) - 5%);
  -webkit-padding-start: 5%;
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: var(--block-width);
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3rem 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

div.note > div > img {
  /* top-level images */
  max-width: var(--block-width);
}

/* Right-Margin-Notes, margin notes, figures, captions */

nav {
  padding-bottom: 0.5rem;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-color: var(--divider);

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

nav a {
  display: inline-block;
  padding: 0.4rem 1rem 0.2rem 1rem;
  border-radius: var(--coloured-deck-border-radius);
}

mark {
  background: var(--highlight);
}

.right-margin-note,
.right-margin,
.right-margin-scribble {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.right-margin-number {
  counter-increment: right-margin-counter;
}

.right-margin-number:after,
.right-margin-note:before {
  position: relative;
  vertical-align: baseline;
}

.right-margin-number:after {
  content: counter(right-margin-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.right-margin-note:before {
  content: counter(right-margin-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03rem;
}

code, pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.80rem;
}

.right-margin-scribble > code,
.right-margin > code,
.right-margin-note > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  /*isg: removed this: width: 52.5%;*/
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear:both;
}

input.right-margin-toggle {
  display: none;
}

label.right-margin-number {
  display: inline;
}

label.right-margin-toggle:not(.right-margin-number) {
  display: none;
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */


/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

form {
  width: 20rem;
}

form label {
  margin-left: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
}

input {
  width: 90%;
}

textarea {
  width: var(--block-width);
  height: 15rem;
}

textarea.new-note-textarea {
  width: 100%;
  height: 25rem;
  margin-top: 1rem;
}

input[type="radio"] {
  width: 10%;
  margin-top: 1rem;
}

[type="submit"] {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 10rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Bitter; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0.2rem;
  padding-top:0.3rem;
  padding-bottom:0.1rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
}
textarea {
  font-family: Crimson; /* 1 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
}

legend {
  /* width: 1px; */
  /* height: 1px; */
  /* overflow: hidden; */

  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  width: 1rem;
  margin: 1rem;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}


#elastic-top-menu-items {
  display: flex;
  justify-content: flex-start;
}

.command-entry {
  padding: 0.4rem 1rem 0.2rem 1rem;
  border-radius: var(--coloured-deck-border-radius);
}

.command-entry-name {
  font-weight: bold;
  color: var(--fg);
}

.command-entry-desc {
  color: var(--fg1);
}

/* this will right-align the login info on the top menu bar */
#elastic-top-menu-items div:last-child {
  margin-left: auto;
}

#top-menu-sr {
  flex-grow: 2;
}

.top-menu-decktype {
  flex-grow: 0.2;
}

#search-command {
  font-size: 1.5rem;
  position: fixed;
  margin-top: 3rem;
  width: var(--search-command-width);
}

#search-command-input {
  /* normally input is at 90% */
  width: 98%;
}

#search-command-results {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

  background: var(--bg3);
  border: 0.1rem solid var(--fg);
  margin: 0.2rem;
  width: 100%;
}

#search-command-results a {
    display: inline-block;
    padding: 0.4rem 1rem 0.2rem 1rem;
    border-radius: var(--coloured-deck-border-radius);
}

#search-command-results > ul {
  font-size: 1.0rem;
  line-height: 1rem;
  list-style-type: none;
  padding-left: 0;
}

.search-command-visible {
  animation: fadeIn ease 0.2s;
  -webkit-animation: fadeIn ease 0.2s;
  -moz-animation: fadeIn ease 0.2s;
  -o-animation: fadeIn ease 0.2s;
  -ms-animation: fadeIn ease 0.2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.search-command-invisible {
  animation: fadeOut ease 0.2s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

#root {
  border-left: 0.1rem solid var(--bg2);
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

a:link {
  color: var(--fg1);
}
a:visited {
  color: var(--fg1);
}

a:link.pigment-inherit,
a:visited.pigment-inherit {
  color: inherit;
}

.pigment-ideas { color: var(--fg-ideas) !important; background: var(--bg-ideas); }
.pigment-publications { color: var(--fg-publications) !important; background: var(--bg-publications); }
.pigment-people { color: var(--fg-people) !important; background: var(--bg-people); }
.pigment-timelines { color: var(--fg-timelines) !important; background: var(--bg-timelines); }

/* above colours don't work on hyperlinks, have to explicitly specify them  */
.pigment-ideas a { color: var(--fg-ideas); }
.pigment-publications a { color: var(--fg-publications); }
.pigment-people a { color: var(--fg-people); }
.pigment-timelines a { color: var(--fg-timelines); }

.pigment-fg-ideas { color: var(--fg-ideas) !important; }
.pigment-fg-publications { color: var(--fg-publications) !important; }
.pigment-fg-people { color: var(--fg-people) !important; }
.pigment-fg-timelines { color: var(--fg-timelines) !important; }

.delete-confirmation {
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

/* -------------------------------------------------------------------------------- */

.image-widget-hover-message {
  font-size: 4rem;
  z-index: -1;                  /* beneath the transparent widget container which used for drag and drop */
  margin: auto;
}

.image-widget-hovering {
  background: rgba(255, 128, 64, 0.2) !important; /* transparent hover region */
  height:15rem;
  padding: 1rem 0 2.5rem 0;
}

.image-widget-container {
  background: var(--bg2);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.image-widget-item {
  /* flex: 0 0 auto; */
  padding: 1rem 0 1rem 1rem;
}

.image-widget-img {
  height:100%;
  max-height:15rem;
}

/* -------------------------------------------------------------------------------- */

.civsel-form {
  width: 100%;
}
.civsel-main-box {
  /* background: #ffffff; */
}
.civsel-candidate {
  border-radius: var(--coloured-deck-border-radius);
  padding: 0.4rem;
  margin: 0.2rem;
  width: max-content;
  cursor: cell;
}

.civsel-reference {
  border-radius: var(--coloured-deck-border-radius);
  padding: 0.4rem;
  margin: 0.2rem;
  display: flex;
  align-items: baseline;
}

.civsel-reference select {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.civsel-delete-selected {
  cursor: pointer;
}

.civsel-name {
  width: 100%;
}
.civsel-annotation {
  flex-grow: 100;
  margin-left: 1rem;
}

/* -------------------------------------------------------------------------------- */

section.rolled-down {
}

section.rolled-up {
  color: var(--fg-inactive);
}

/* -------------------------------------------------------------------------------- */

.quickfind-form {
  width: 100%;
}

.quickfind-candidate {
  padding: 0.4rem;
  margin: 0.2rem;
  width: max-content;
  cursor: pointer;
}

.keyboard-shortcut {
  font-weight: bold;
}

/* -------------------------------------------------------------------------------- */

.pointform-block label { }
.pointform-block input { width: 2rem; margin-top: 0.3rem; }
.pointform-space-top { margin-top: 1rem; }

em:before {
  content: "\00201C";           /* opening double quote: &#8220; converted to hex*/
}
em:after {
  content: "\00201D";           /* closing double quote: &#8221; converted to hex*/
}

.svg-container {
  width: 80%;
}

.svg-pseudo-link:hover {
  cursor: pointer;
}

.unselectable-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a:link {
  text-decoration: none;
}

a:link.note-inline-link {
  color: var(--hyperlink);
  text-decoration: underline;
}

.sticky-bl {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem
}

.sticky-tl {
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem
}

.right-margin-note {
  text-align: left;
}

.right-margin-scribble {
  font-family: Caveat, cursive;
  font-size: 1.8rem;
  text-align: left;
}

.scribble-neutral {
  color: var(--scribble-neutral);
}

.scribble-disagree {
  color: var(--scribble-disagree);
}

label.right-margin-toggle {
  color: var(--hyperlink);
}

.shell-block {
  padding: 2rem 0 2rem 2rem;
}

.shell-line {
  padding: 0.2rem 0 0.2rem 0;
}

.invisible { display: none; }

.underlined {
  text-decoration: underline;
}

p.fakelink {
  cursor: pointer;
  text-decoration: underline;
}

section > form { width: var(--block-width); }

/* civil: so that the p in civil behaves like the section > p in tufte */
.block-width {
  width: var(--block-width);
}
.note p {
  width: var(--block-width);
}
/* only apply to img that is a direct descendent of .note  */
.note > img {
  width: var(--block-width);
}
.note ol {
  width: var(--block-width);
}
.note ul {
  width: var(--block-width);
}
.note li {
  width: 96%;
}

/* contains refs, 'add note icons' etc*/
.left-margin {
  padding-top: 0.5rem;
  float: left;
  margin-left: -30%;
  width: 30%;
  color: var(--fg1);
  text-align: right;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.left-margin-heading {
  font-family: Bitter;
  font-weight: 300;
}

.left-margin-list-entry {
  /* don't want the padding as each li is only a single line */
  padding-top: 0.0rem;
}

/* like left-margin but inline for adding notes to points */
.left-margin-inline {
  color: var(--fg1);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-left: 4rem;
}

.cancel-offset {
  margin-top: 2rem;
}

.clickable {
  cursor: pointer;
}

.left-margin-entry {
  padding-right: 3rem;
}

.left-margin-entry-no-wrap {
  padding-right: 3rem;
  margin-left: -500rem;
}

.left-margin-entry a {
  text-decoration: none;
}

.left-margin-icon-label {
  vertical-align: super;
  margin-right: 0.5rem;
}

.append-note {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.ref-kind {
  font-size: 75%;
  color: var(--fg1);
  padding-right: 1rem;
}

.ref {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border-radius: var(--coloured-deck-border-radius);
}

.ref-scribble {
  font-family: Caveat, cursive;
  font-size: 1.8rem;
  padding-bottom: 0.3rem;
  width: 24rem;
  float: right;
}

.ref-top-scribble {
  font-family: Caveat, cursive;
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  width: var(--block-width);
}

.ref-clearer {
  clear: both;
}

.backref-deck {
  font-size: 1.6rem;
}

div.note > textarea {
  width: 100%;
  height: 10rem;
}

.civil-form {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.civil-add-note-form {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  width: var(--block-width);
}

.civil-date-hint {
  color: var(--fg1);
  float:right;
  padding-right: 1rem;
}

.civil-date-hint-after {
  clear: both;
}

.pointform-checkbox {
  width: 10%;
}

#separator {
  width: 10%;
}

/* --------------------------------------------------------------------------------
a bunch of hacks so that notes within points look correct
*/
/* set .point-notes to match tufte.css:44 */
.point-notes {
  font-size: 1rem;
}

div.point-notes > div.note > div > div > p {
  margin-left: 3rem;
  width: var(--block-width-indented);
}
/* -------------------------------------------------------------------------------- */

.point-title {
  padding-bottom: 1rem;
}

.civil-location input[type=number]{
  width: 5rem;
}

input:required {
  box-shadow: none;
}

.hug-left {
  padding-left: 0;
  margin-left: 0;
}

.unstyled-list {
  list-style: none;
}

.deckpoint-block label {}
.deckpoint-block input { width: 2rem; margin-top: 0.3rem; margin-left: 2rem;}

/* .deckpoint-block label { display: inline-block; width: 12rem; text-align: right; } */
/* .deckpoint-block input { width: 2rem; } */

.deckpoint {
  color: var(--fg1);
}

.deckpoint a {
  /* same as the background colour, this is how to hide the underline effect used in tufte.css */
  background: var(--bg);
}

.deckpoint-age {
  display: inline-block;
  width: 1.5rem;
}

/* compacted list: squish the elements together as comma separated items */

.compacted-list {
  padding-left: 1.5rem;
}

.compacted-list > li {
  padding-right: 0.5rem;
  display: inline-block;

}

.compacted-list li:after {
  content: ", ";
}

.compacted-list li:last-child:after {
    content: "";
}

/* standard list: every element is on a separate line */

.standard-list {
  padding-left: 1rem;
}

.standard-list > li {
  list-style-type: none;
}

/* hand-written text on left margin and in listings */
.descriptive-scribble {
  font-family: Caveat, cursive;
  color: var(--scribble-neutral);
  margin-left: 1rem;
  font-size: 1.8rem;
}
.top-scribble {
  font-family: Caveat, cursive;
  color: var(--scribble-neutral);
  font-size: 1.8rem;
}

.listing-link p {
  color: var(--fg1);
  font-style: oblique;
}

.add-flash-card {
  float: right;
}

.in-note-flash-card-prompt {
  background: var(--bg1);

  border-width: 0.3rem;
  border-style: solid;
  border-color: var(--divider);
  border-radius: var(--coloured-deck-border-radius);

  padding: 1rem 1.5rem 1rem 1.5rem;
}

.sr-section {
  font-size: x-large;
  margin-top: 1rem;
  border-top: 0.1rem solid var(--bg2);
  padding-top: 1rem;
  width: var(--block-width);
  text-decoration: underline;
}

.rating-values {
  margin-top: 1rem;

}

.rating-value {
  margin: 0 1rem;
  font-size: xx-large;
  cursor: pointer;
}

.sr-rating-descriptions {
  list-style: none;
  color: var(--fg1);
  margin-top: 3rem;
}

#publication-submit {
  width: 14rem;
}


.delete-hack {
  margin-bottom: -8px;
}

/* Responsive adjustments
   ========================================================================== */
@media (max-width: 2000px) {
  :root {
    --bg: #00ff00;
    --search-command-width: 40%;
  }
}

@media (max-width: 1200px) {
  :root {
    /* --bg: #00f2f0; */
    --body-width: 93.5%;
    --block-width: 70%;
    --search-command-width: 60%;
  }

  .left-margin {
    float: right;
    text-align: left;
    width: 28%;
  }

  .ref-scribble {
    width: auto;
    float: none;
  }
}

@media (max-width: 800px) {
  :root {
    /* --bg: #ffff00; */
    --body-width: 97.5%;
    --block-width: 90%;
    --search-command-width: 90%;
  }

  .left-margin {
    display: none;
  }
  .left-margin-inline {
    display: none;
  }
}

@media (max-width: 760px) {
  body {
    /* --bg: #ff0044; */
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    --search-command-width: 76%;
  }

  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > ol {
    width: 90%;
  }

  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5rem;
    margin-right: 0rem;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.right-margin-toggle:not(.right-margin-number) {
    display: inline;
  }

  .right-margin,
  .right-margin-note,
  .right-margin-scribble {
    display: none;
  }

  .right-margin-toggle:checked + .right-margin-note,
  .right-margin-toggle:checked + .right-margin,
  .right-margin-toggle:checked + .right-margin-scribble {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  nav a {
    margin-left: 0;
  }

  #topmenu-login {
    margin-bottom: 1rem;
  }

}

@media (max-width: 500px) {
  :root {
    /* --bg: #220044; */
    --block-width: 100%;
    --search-command-width: 90%;
  }

  body {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  #root {
    border-left: 0.1rem solid var(--bg2);
    padding: 0 0.8rem;
  }

  .optional-navigable {
    display: none;
  }

  .svg-container {
    width: 100%;
  }

  .corner-writable-toggle {
    display: none;
  }
}

.title-replacement-spacer {
  display: block;
  height: 5.5rem;
}

.title-background-band {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  /* same value as .title-sticky */
  height: 1.6rem;

  margin-top: 0;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;

  background: var(--bg2);
  z-index: 9;
}

.title-sticky {
  position: fixed;
  top: 0;

  /* same value as .title-background-band */
  height: 1.6rem;

  margin-top: 0;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;

  background: var(--bg2);
  z-index: 10;

  white-space: nowrap;
}
