:root {
  --bg: #fffff8;
  --fg: #111;

  --fg1: #666; /* linked decks (i.e. tags) */
  --fg2: #ddddd0; /* edges in graphs */

  --graph-edge-in-contrast: #ee0d00; /* edges in graphs */

  --bg1: #eeeee8;

  --body-width: 80%;
  --block-width: 55%;

  --selection: #db6e42;
  --scribble: blue; /* handwritten note  */
  --hyperlink: #0000aa;
  --highlight: #fcf172;
  --divider: #ccc;
}

@media (max-width: 1200px) {
  :root {
    --body-width: 93.5%;
    --block-width: 70%;
  }
}

@media (max-width: 800px) {
  :root {
    --body-width: 97.5%;
    --block-width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2b2b2b;
    --fg: #a6a8aa;
    --fg1: #999; /* linked decks (i.e. tags) */

    --selection: #b15935;
    --scribble: #bbbbff; /* handwritten note  */
    --hyperlink: #bbbbff;
    --highlight: #9c9102;
    --divider: #444;
  }
}
