@charset "UTF-8";

:root {
  --bg: #f5f2f0;
  --fg: rgb(15, 12, 10);

  --fg1: #666; /* linked decks (i.e. tags) */
  --fg-inactive: #999;

  --graph-edge: #ababab;             /* sat: 0,  light:70 */
  --graph-edge-in-contrast: #73b4c8; /* sat:60.2,light:70 clock05 */
  --graph-edge-critical: #e2969d;    /* sat:60.2,light:70 clock10 */

  --bg1: #eeeee8;
  --bg2: #ede7e3;

  --divider: #ccc;

  --scribble: #007bc7;          /* clock06 saturation: 100.0 lightness: 50 */
  --hyperlink: #5279a8;         /* clock06 saturation: 60.2 lightness: 50 */
  --highlight: #ebe900;         /* hue: 85 sat:100 light:90*/

  /* saturation: 60.2 lightness: 90 */
  --bg-ideas: #d9e3f3;             /* clock06 */
  --bg-publications: #f4e0b2;      /* clock12 */
  --bg-people: #f4dce7;            /* clock09 */
  --bg-timelines: #98f4d1;         /* clock03 */

  /* saturation: 60.2 lightness: 50 */
  --fg-ideas: #5279a8;             /* clock06 */
  --fg-publications: #867548;      /* clock12 */
  --fg-people: #bc508e;            /* clock09 */
  --fg-timelines: #4b816d;         /* clock03 */

  --body-width: 80%;
  --block-width: 55%;
  --block-width-indented: 50%;

  --coloured-deck-border-radius: 0.3em;
}

@media (max-width: 1200px) {
  :root {
    --body-width: 93.5%;
    --block-width: 70%;
  }
}

@media (max-width: 800px) {
  :root {
    --body-width: 97.5%;
    --block-width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2b2b2b;
    --fg: #a6a8aa;

    --fg1: #999; /* linked decks (i.e. tags) */
    --fg-inactive: var(--fg1);

    --graph-edge: #5e5e5e;             /* sat: 0,  light:40 */
    --graph-edge-in-contrast: #3d636f; /* sat:60.2,light:40 clock05 */
    --graph-edge-critical: #a23a47;    /* sat:60.2,light:40 clock10 */

    --bg1: #171717;
    --bg2: #12181C;

    --divider: #444;

    --scribble: #007bc7;          /* clock06 saturation: 100.0 lightness: 50 */
    --hyperlink: #5279a8;         /* clock06 saturation: 60.2 lightness: 50 */
    --highlight: #ebe900;         /* hue: 85 sat:100 light:90*/

    /* saturation: 60.2 lightness: 50 */
    --bg-ideas: #5279a8;             /* clock06 */
    --bg-publications: #867548;      /* clock12 */
    --bg-people: #bc508e;            /* clock09 */
    --bg-timelines: #4b816d;         /* clock03 */

    /* saturation: 60.2 lightness: 90 */
    --fg-ideas: #d9e3f3;             /* clock06 */
    --fg-publications: #f4e0b2;      /* clock12 */
    --fg-people: #f4dce7;            /* clock09 */
    --fg-timelines: #98f4d1;         /* clock03 */
  }
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@font-face { font-family: "Nothing You Could Do";
             src: url("fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "Bitter";
             src: url("fonts/Bitter/Bitter-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 15px;
}

body {
  width: var(--body-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(100% - var(--body-width));
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: var(--bg);
  color: var(--fg);
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1rem;
  width: var(--block-width);
  border: 0;
  border-top: 0.15rem solid var(--divider);
  margin: 1rem 0;
  padding: 0;
}

p {
  text-align: justify;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

p.subtitle > a {
  color: var(--fg);
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: var(--block-width);
  margin-right: 40px;
}

blockquote footer {
  width: var(--block-width);
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > footer,
section > table {
  width: var(--block-width);
}

/* to be the same width as paragraph */
section > ol,
section > ul {
  width: calc(var(--block-width) - 5%);
  -webkit-padding-start: 5%;
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: var(--block-width);
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3rem 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

nav {
  padding-bottom: 0.5rem;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-color: var(--divider);

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

nav a {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.4rem 1rem 0.2rem 1rem;
  border-radius: var(--coloured-deck-border-radius);
}

mark {
  background: var(--highlight);
}

.sidenote,
.margin-text,
.margin-scribble {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .margin-text,
blockquote .margin-scribble {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03rem;
}

code, pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.80rem;
}

.margin-scribble > code,
.margin-text > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  /*isg: removed this: width: 52.5%;*/
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear:both;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media (max-width: 760px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > ol {
    width: 90%;
  }

  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5rem;
    margin-right: 0rem;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .margin-text,
  .margin-scribble {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .margin-text,
  .margin-toggle:checked + .margin-scribble {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }

  nav a {
    margin-left: 0;
  }
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */


/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

form {
  width: 20rem;
}
form label {
  margin-left: 0.5rem;
}
input {
  width: 90%;
}

textarea {
  width: var(--block-width);
  height: 15rem;
}

textarea.new-note-textarea {
  width: 100%;
  height: 25rem;
  margin-top: 1rem;
}

input[type="radio"] {
  width: 10%;
  margin-top: 1rem;
}

[type="submit"] {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 10rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
}

legend {
  /* width: 1px; */
  /* height: 1px; */
  /* overflow: hidden; */

  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}



/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

#root {
  border-left: 0.1rem solid var(--bg2);
  padding: 1rem;
}

a:link.pigment-inherit,
a:visited.pigment-inherit {
  color: inherit;
}

.pigment-ideas { color: var(--fg-ideas); background: var(--bg-ideas); }
.pigment-publications { color: var(--fg-publications); background: var(--bg-publications); }
.pigment-people { color: var(--fg-people); background: var(--bg-people); }
.pigment-timelines { color: var(--fg-timelines); background: var(--bg-timelines); }

/* above colours don't work on hyperlinks, have to explicitly specify them  */
.pigment-ideas a { color: var(--fg-ideas); }
.pigment-publications a { color: var(--fg-publications); }
.pigment-people a { color: var(--fg-people); }
.pigment-timelines a { color: var(--fg-timelines); }

.pigment-fg-ideas { color: var(--fg-ideas); }
.pigment-fg-publications { color: var(--fg-publications); }
.pigment-fg-people { color: var(--fg-people); }
.pigment-fg-timelines { color: var(--fg-timelines); }

.delete-confirmation {
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

/* -------------------------------------------------------------------------------- */

.image-widget-hover-message {
  font-size: 4rem;
  z-index: -1;                  /* beneath the transparent widget container which used for drag and drop */
  margin: auto;
}

.image-widget-hovering {
  background: rgba(255, 128, 64, 0.2) !important; /* transparent hover region */
  height:15rem;
  padding: 1rem 0 2.5rem 0;
}

.image-widget-container {
  background: var(--bg2);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.image-widget-item {
  /* flex: 0 0 auto; */
  padding: 1rem 0 1rem 1rem;
}

.image-widget-img {
  height:100%;
  max-height:15rem;
}

/* -------------------------------------------------------------------------------- */

.civsel-form {
  width: 100%;
}
.civsel-main-box {
  /* background: #ffffff; */
}
.civsel-candidate {
  background: #ecd2a2;
  padding: 0.4rem;
  margin: 0.2rem;
  width: max-content;
  cursor: cell;
}

.civsel-reference {
  background: #ecd2a2;
  padding: 0.4rem;
  margin: 0.2rem;
  width: max-content;
}

.civsel-delete-selected {
  cursor: pointer;
}

.civsel-annotation {
  width: 30rem;
  margin-left: 1rem;
}

/* -------------------------------------------------------------------------------- */

section.rolled-down {
}

section.rolled-up {
  color: var(--fg-inactive);
}

/* -------------------------------------------------------------------------------- */

.quickfind-form {
  width: 100%;
}

.quickfind-candidate {
  padding: 0.4rem;
  margin: 0.2rem;
  width: max-content;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------- */

.pointform-block label { }
.pointform-block input { width: 2rem; margin-top: 0.3rem; }
.pointform-space-top { margin-top: 1rem; }

em:before {
  content: "\00201C";           /* opening double quote: &#8220; converted to hex*/
}
em:after {
  content: "\00201D";           /* closing double quote: &#8221; converted to hex*/
}

.svg-container {
  width: 80%;
}

.svg-pseudo-link:hover {
  cursor: pointer;
}

.unselectable-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a:link {
  text-decoration: none;
}

a:link.note-inline-link {
  color: var(--hyperlink);
  text-decoration: underline;
}

.sticky-bl {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem
}

.sticky-tl {
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem
}

.sidenote {
  text-align: left;
}

.margin-scribble {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--scribble);
  font-size: 1.5rem;
  text-align: left;
}

label.margin-toggle {
  color: var(--hyperlink);
}

.shell-block {
  padding: 2rem 0 2rem 2rem;
}

.shell-line {
  padding: 0.2rem 0 0.2rem 0;
}

.invisible { display: none; }

.underlined {
  text-decoration: underline;
}

#login-menuitem {
  float: right;
  clear:both;
}

@media (max-width: 700px) {
  #login-menuitem {
    margin-bottom: 1rem;
  }
}

p.fakelink {
  cursor: pointer;
  text-decoration: underline;
}

section > form { width: var(--block-width); }

/* civil: so that the p in civil behaves like the section > p in tufte */
.block-width {
  width: var(--block-width);
}
.note p {
  width: var(--block-width);
}
.note ol {
  width: var(--block-width);
}
.note ul {
  width: var(--block-width);
}
.note li {
  width: 96%;
}

/* the left-hand spanne that contains noterefs, 'add note icons' etc*/
.spanne {
  padding-top: 0.5rem;
  float: left;
  margin-left: -40%;
  width: 40%;
  color: var(--fg1);
  text-align: right;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.spanne-in-listing {
  /* don't want the padding as each li is only a single line */
  padding-top: 0.0rem;
}

/* like spanne but inline for adding notes to points */
.inline-spanne {
  color: var(--fg1);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-left: 4rem;
}

@media (max-width: 1200px) {
  .spanne {
    float: right;
    text-align: left;
    width: 28%;
  }
}

@media (max-width: 800px) {
  .spanne {
    display: none;
  }
  .inline-spanne {
    display: none;
  }
}

.cancel-offset {
  margin-top: 2rem;
}

.clickable {
  cursor: pointer;
}

.spanne-entry {
  padding-right: 3rem;
}

.spanne-entry a {
  text-decoration: none;
}

.spanne-icon-label {
  vertical-align: super;
  margin-right: 0.5rem;
}

.append-note {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.noteref-kind {
  font-size: 75%;
  color: var(--fg1);
  padding-right: 1rem;
}

.noteref {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border-radius: var(--coloured-deck-border-radius);
}

.noteref-annotation {
  font-family: 'Nothing You Could Do', cursive;
  padding-bottom: 0.3rem;
  width: 20rem;
  float: right;
}

.noteref-clearer {
  clear: both;
}

blockquote.quote > textarea {
  width: var(--block-width);
  height: 10rem;
}

div.note > textarea {
  width: 100%;
  height: 10rem;
}

.civil-form {
  font-family: monospace;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.civil-add-note-form {
  font-family: monospace;
  width: var(--block-width);
}

.civil-date-hint {
  color: var(--fg1);
  float:right;
  padding-right: 1rem;
}

.civil-date-hint-after {
  clear: both;
}

.pointform-checkbox {
  width: 10%;
}

#separator {
  width: 10%;
}

/* --------------------------------------------------------------------------------
a bunch of hacks so that notes within points look correct
*/
/* set .point-notes to match tufte.css:44 */
.point-notes {
  font-size: 1rem;
}

div.point-notes > div.note > div > div > p {
  margin-left: 3rem;
  width: var(--block-width-indented);
}
/* -------------------------------------------------------------------------------- */

.point-title {
  padding-bottom: 1rem;
}

.civil-location input[type=number]{
  width: 5rem;
}

input:required {
  box-shadow: none;
}

.hug-left {
  padding-left: 0;
  margin-left: 0;
}

.unstyled-list {
  list-style: none;
}

.deckpoint-block label {}
.deckpoint-block input { width: 2rem; margin-top: 0.3rem; margin-left: 2rem;}

/* .deckpoint-block label { display: inline-block; width: 12rem; text-align: right; } */
/* .deckpoint-block input { width: 2rem; } */

.deckpoint {
  color: var(--fg1);
}

.deckpoint a {
  /* same as the background colour, this is how to hide the underline effect used in tufte.css */
  background: var(--bg);
}

.deckpoint-age {
  display: inline-block;
  width: 1.5rem;
}

/* compacted list: squish the elements together as comma separated items */

.compacted-list {
  padding-left: 1.5rem;
}

.compacted-list > li {
  padding-right: 0.5rem;
  display: inline-block;

}

.compacted-list li:after {
  content: ", ";
}

.compacted-list li:last-child:after {
    content: "";
}

/* standard list: every element is on a separate line */

.standard-list {
  padding-left: 1rem;
}

.standard-list > li {
  list-style-type: none;
}

.short-description {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--scribble);
  margin-left: 1rem;
  font-size: 1rem;
}

.listing-link p {
  color: var(--fg1);
  font-style: oblique;
}

.add-flash-card {
  float: right;
}


.sr-section {
  font-size: x-large;
  margin-top: 1rem;
  border-top: 0.1rem solid var(--bg2);
  padding-top: 1rem;
  width: var(--block-width);
  text-decoration: underline;
}

.rating-values {
  margin-top: 1rem;

}

.rating-value {
  margin: 0 1rem;
  font-size: xx-large;
  cursor: pointer;
}

.sr-rating-descriptions {
  list-style: none;
  color: var(--fg1);
  margin-top: 3rem;
}
