@charset "UTF-8";

@font-face { font-family: "Nothing You Could Do";
             src: url("fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

.deckpoint-block label { display: inline-block; width: 12em; text-align: right; }
.deckpoint-block input { width: 2em; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25em;
  text-align: left;
}
.sticky {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem
}

p {
  text-align: justify;
}
.sidenote {
  text-align: left;
}

.marginnote {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--scribble);
  font-size: 1.5em;
  text-align: left;
}
label.margin-toggle {
  color: var(--scribble);
}

.shell-block {
  padding: 2em 0 2em 2em;
}

.shell-line {
  padding: 0.2em 0 0.2em 0;
}

.invisible { display: none; }

.console-container {
  height: 90vh;
}

.underlined {
  text-decoration: underline;
}

#login-menuitem {
  float: right;
  clear:both;
}

p.fakelink {
  cursor: pointer;
  text-decoration: underline;
}

section > form { width: var(--block-width); }

/* civil: so that the p in civil behaves like the section > p in tufte */
.note p {
  width: var(--block-width);
}

.noteref-container {
  padding-top: 0.5em;
  float: left;
  margin-left: -25%;
  width: 25%;
  font-size: 1.1rem;
  color: var(--fg1);
  text-align: right;
}

@media (max-width: 1200px) {
  .noteref-container {
    float: right;
    text-align: left;
  }
}

@media (max-width: 800px) {
  .noteref-container {
    display: none;
  }
}

.noteref-entry a {
  text-decoration: none;
}
.noteref-entry .noteref-spacer {
  padding-left: 2em;
}

#top-bar-menu {
  padding-bottom: 0.5em;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-color: var(--divider);

}

mark {
  background: var(--highlight);
}

a.top-bar-menuitem {
  margin-left: 1em;
  margin-right: 1em;
  background: inherit;
}

blockquote.quote > textarea {
  width: var(--block-width);
  height: 10em;
}

div.note > textarea {
  width: 100%;
  height: 10em;
}

.note > hr {
  display: block;
  height: 1em;
  width: var(--block-width);
  border: 0;
  border-top: 2px solid var(--divider);
  margin: 1em 0;
  padding: 0;
}

.people-list > li{
  padding-right: 0.5em;
  display: inline-block;
}

.civil-form {
  font-family: monospace;
  padding-top: 2em;
}

.civil-date-hint {
  color: var(--fg1);
  float:right;
  padding-right: 1em;
}

.civil-date-hint-after {
  clear: both;
}

#is-approx {
  width: 10%;
}

#round-to-year {
  width: 10%;
}

#separator {
  width: 10%;
}

.point-title {
  padding-bottom: 1em;
}

.civil-location input[type=number]{
  width: 5em;
}

input:required {
  box-shadow: none;
}

.deckpoint {
  color: var(--fg1);
}

.deckpoint a {
  /* same as the background colour, this is how to hide the underline effect used in tufte.css */
  background: var(--bg);
}
