@charset "UTF-8";

@font-face { font-family: "Nothing You Could Do";
             src: url("NothingYouCouldDo/NothingYouCouldDo-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

p {
  text-align: justify;
}
.sidenote {
  text-align: left;
}
.civil-sidenote {
  font-family: 'Nothing You Could Do', cursive;
  color: blue;
  font-size: 1.5em;
  text-align: left;
}

.shell-block {
  padding: 2em 0 2em 2em;
}

.shell-line {
  padding: 0.2em 0 0.2em 0;
}

.invisible { display: none; }

.console-container {
  height: 90vh;
}

.underlined {
  text-decoration: underline;
}

#login-menuitem {
  float: right;
  clear:both;
}

p.fakelink {
  cursor: pointer;
  text-decoration: underline;
}

section > form { width: 55%; }

/* civil: so that the p in civil behaves like the section > p in tufte */
.note p {
  width: 55%;
}

.leftmargin-container {
  padding-top: 0.5em;
  float: left;
  margin-left: -25%;
  width: 25%;
  font-size: 1.1rem;
  color: #666;
  text-align: right;
}

.leftmargin-entry a {
  text-decoration: none;
}
.leftmargin-entry .leftmargin-spacer {
  padding-left: 2em;
}

#top-bar-menu {
  padding-bottom: 0.5em;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-color: #ccc;

}

.camouflage {
  color: #f1edeb;
}

mark {
  background: #fcf172;
}

a.top-bar-menuitem {
  margin-left: 1em;
  margin-right: 1em;
  background: inherit;
}

blockquote.quote > textarea {
  width: 55%;
  height: 10em;
}

div.note > textarea {
  width: 100%;
  height: 10em;
}

.note > hr {
  display: block;
  height: 1em;
  width: 55%;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.people-list > li{
  padding-right: 0.5em;
  display: inline-block;
}

.civil-form {
  padding-top: 2em;
}

.civil-date-hint {
  color: #606060;
  float:right;
  padding-right: 1em;
}

.civil-date-hint-after {
  clear: both;
}

#is-approx {
  width: 10%;
}

#round-to-year {
  width: 10%;
}

#separator {
  width: 10%;
}

.point-title {
  padding-bottom: 1em;
}

.civil-location input[type=number]{
  width: 5em;
}


input:required {
  box-shadow: none;
}
